aprilCameraCalibration {

    // MRE:   0.342 px MSE   0.192 px MaxRE   1.724 px MaxERE   0.983 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 640;
        height = 480;

        intrinsics {
            fc = [ 534.816842, 531.883274 ];
            cc = [ 304.638279, 224.403908 ];
            kc = [   0.403554,  -0.022707,  -0.014288,  -0.263265 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
